@{
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

@using Microsoft.AspNet.Identity

<script src="~/AngularJS_Code/Booking/Service.js"></script>
<script src="~/AngularJS_Code/Booking/Controller.js"></script>
<script src="~/AngularJS_Code/Booking/Utils.js"></script>

<div class="wrapper" ng-app="myApp" ng-controller="BookingController">
    <div class="content-wrapper p-3">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Booking Table</h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Booking ID</th>
                            <th>Student ID</th>
                            <th>Student Name</th>
                            <th>Room ID</th>
                            <th>Room Name</th>
                            <th>Building ID</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="booking in bookings">
                            <td>{{ booking.ID }}</td>
                            <td>{{ booking.StudentID }}</td>
                            <td>{{ booking.StudentName }}</td>
                            <td>{{ booking.RoomID }}</td>
                            <td>{{ booking.RoomName }}</td>
                            <td>{{ booking.BuildingId }}</td>
                            <td class="">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="toggleApproveButton(booking.ID)">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-danger" ng-click="toggleDenyButton(booking.ID)">
                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="card-footer clearfix">
                    <!--
                    Pagination
                    total-items (int) = Số lượng bản ghi cần hiển thị
                    ng-model (int) = Chỉ số của trang hiện tại trong các trang từ 1 tới total-items
                    items-per-page (int) = Số các bản ghi hiển trị trên 1 trang, các bản ghi còn lại nằm ở trang khác
                    -->
                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" boundary-links="true" rotate="false"></ul>
                </div>
            </div>
        </div>
    </div>
</div>